<header class="header"> <!-- Header que contiene el apartado que se muestra en el encabezado de la página -->
    <h1 class="header-title">Bienvenido al Dashboard <!-- Título que se muestra dentro del header -->
    </h1> <!-- Cierre del h1 -->
    <nav class="header-nav"> <!-- Nav que va en el header -->
    </nav> <!-- Cierre nav -->
    
  </header><!-- Cierre header -->
  <button (click)="logout()" class="logout-btn">Cerrar Sesión</button> <!-- Botón que cumple la función de cerrar sesión  -->
